@import url("main.css");


.row {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 15px;
    border-color: #333333; 

}

.col-sm-4 {
    background-color:rgba(238, 226, 219, 0.4);
	padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: hidden;
    align: center;
}

.panels{
	padding: 5%;
	vertical-align: middle;
	align: cetner;
}

.form-horizontal{
	align:left;
}

#OR{
	font-size:450%; 
	font-weight: bold;
	text-align: cetner;
}