<!DOCTYPE html>
<html data-ng-app="Hipster">
<head>
  <title>Hipster!- A social network so exclusive it's like you're talking to yourself</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href = "resources/css/main.css">
  <link rel="stylesheet" type="text/css" href = "resources/css/profile.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="resources/AngularJS/app.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular-sanitize.js"></script>
  <script type="text/javascript" src="resources/AngularJS/javascript.js"></script>
  <link rel="icon" type="image/png" href="resources/images/hipfavicon.ico">
</head>

<body data-ng-controller="UserController as user">

<div class="container">
		
		<div class="row">
<!-- header -->
		 	<div class="col-sm-12" data-ng-controller="UserController as user">
		 	
		 		<div class="col-sm-4">
				<a href="/Hipster"><img src="resources/images/logosmall.png" alt="Hipster logo" class="navbarlogo navbar-left"></a>
				<h3 class="navbar-text"><a href="/Hipster/discover.html" class="navbar-link">Discover</a></h3>
				</div>
				
				<div class="col-sm-8">
				<img class="topavatar" data-ng-src="{{user.details.PIC}}" align="bottom" alt="avatar">
				<a href="/Hipster/user/{{user.details.NICKNAME}}" class="mainnickname"><h3>@{{user.details.NICKNAME}}</h3></a>
				
				<form class="navbar-form navbar-left" role="search" onsubmit="location.href='topic/'+ document.getElementById('topicurl').value ; return false;">
			        <div class="form-group">
			          <input type="text" class="form-control" id="topicurl" placeholder="Topic Search">
			        </div>
			        <button type="submit" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span></button>
		      	</form>
				
				<h3 class="navbar-text navbar-right"><a href="Logout" class="navbar-link">Logout</a></h3>
				</div>
				
				<br>
				<h3 id="quote" onload="showrandom1();">Real hipsters don't wear plaids</h3>
	
			</div>
<!-- user details -->
			<div class="col-sm-4">
				<div class="userdetails">
					<img class="avatar" data-ng-src="{{user.details.PIC}}" align="bottom" alt="avatar">
					<a href="/Hipster/user/{{user.details.NICKNAME}}" class="mainnickname"><h3>@{{user.details.NICKNAME}}</h3></a>
					<br><br>
					
					<h3>Something on your mind?:</h3>
					<br>
					<form action="Post" method="post" id="newpost" name="newform">
				            <textarea name="text" class="messagetext" rows="5" maxlength="140" data-ng-model="txtarea"></textarea>
							<input type="hidden" name="reply_to"  value="0" />
							<input type="hidden" name="republish"  value="0" />
							<br><br>
							<button class="btn btn">Submit</button>
				    </form>
				</div>
			</div>
 		
			<div class="col-sm-8" data-ng-controller="MainController as main"  data-ng-init="refresh()">
			<br>
				<div class="usermessages" data-ng-repeat="messages in main.messages|limitTo:10" data-ng-hide="incheckbox"> 
			  		<!-- follow button -->	
			  		<form action="Follow" method="post">
			  			<input type="hidden" name="nickname"  value="{{messages.NICKNAME}}"/>
						<button class="btn btn" id= "followbtn"><span class="glyphicon glyphicon-plus"><h4>Follow</h4></span></button>
			  		</form>
			  		
			  		<img class="avatar" data-ng-src="{{messages.PIC}}" align="bottom" alt="avatar">

			  		<h3><a data-ng-href="/Hipster/user/{{messages.NICKNAME}}" class="nickname">@{{messages.NICKNAME}}</a> wrote:</h3>
			 
			  		
			  		<br><br>
			  		<div class="textcontent">
				  		<span data-ng-bind-html="messages.TEXT"></span>
				  		{{message}}
				 	</div>
			 	 <br>
			 	 
			 	 <a href="" class="replymessage" data-ng-click="togglereply($index)">Reply</a>
			  
			  		<form action="Post" method="post" data-ng-show="main.showreply[$index]">
			  		<br>
			  		<b>@{{messages.NICKNAME}}</b>
				            <textarea name="text" class="messagetext" rows="5" maxlength="140"></textarea>
							<input type="hidden" name="reply_to"  data-ng-value={{messages.MID}} />
							<input type="hidden" name="republish"  data-ng-value="0" />
							<br><br>
							<button class="btn btn" data-ng-click="togglereply($index)" >Submit</button>
			  		</form>
			  		
			  	<a href="" class="rebuplishmessage" data-ng-click="togglerepublish($index)">Republish</a>
			  
			  		<form action="Post" method="post" data-ng-show="main.showrepublish[$index]">
				            <textarea name="text" class="republishmessagetext" rows="5" maxlength="140" readonly>{{messages.TEXT}}</textarea>
							<input type="hidden" name="reply_to"  value="0" />
							<input type="hidden" name="republish"  value={{messages.MID}} />
							<br><br>
							<button class="btn btn" data-ng-click="togglerepublish($index)" >Submit</button>
			  		</form>
				
				<a data-ng-href="" class="timesrepublished">(with #{{messages.TIMES_REPUBLISHED}} republishes)</a>
				
			  	<span class="timestamp">{{messages.STAMP|timeago}}</span>
			  	<br>
			 	 
				</div>
				
			</div>	
			
		</div>
</div>

</body>
</html>