<!DOCTYPE html>
<html data-ng-app="Hipster">
<head>
  <title>Hipster!- A social network so exclusive it's like you're talking to yourself</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href = "resources/css/main.css">
  <link rel="stylesheet" type="text/css" href = "resources/css/profile.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="resources/AngularJS/app.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular-sanitize.js"></script>
</head>

<body data-ng-controller="ProfileController as profile">
<div class="container">
		<div class="row">
			
			<div class="col-sm-12" data-ng-controller="UserController as user">
				<a href="/Hipster/mainPage.html"><img src="resources/images/logosmall.png" alt="Hipster logo" class="navbarlogo navbar-left"></a>
				<h3 class="navbar-text"><a href="Discover" class="navbar-link">Discover</a></h3>
				
				<img class="topavatar" data-ng-src="{{user.details.PIC}}" align="bottom" alt="avatar">
				<a href="/Hipster/user/{{user.details.NICKNAME}}" class="mainnickname"><h3>@{{user.details.NICKNAME}}</h3></a>
				<h3 class="navbar-text navbar-right"><a href="Logout" class="navbar-link">Logout</a></h3>
			</div>

		
			<div class="col-sm-4">
				<div class="userdetails">
					<a href="user/{{profile.details.NICKNAME}}" class="mainnickname"><h1>@{{profile.details.NICKNAME}}</h1></a>
					<br>
					<h3 id=rank>Hipster Rank: #{{profile.details.USER_ID}}</h3>
					<br><br>
					
				    <img class="mainavatar" data-ng-src="{{profile.details.PIC}}" alt="main user avatar">
					
				        <p>
				        	<br>
				            With <a data-ng-href="followers/{{profile.details.NICKNAME}}" >{{profile.details.STALKERS}}  Followers </a>,   
				            <br>
				            <a data-ng-href="following/{{profile.details.NICKNAME}}" >Following {{profile.details.STALKEES}}</a> other Hipsters.
				            <br><br>
				            
				            <div class="description">
				            <b>About Me:</b><br>
				            <cite>{{profile.details.DESCRIPTION}}</cite>
				            </div>
				            
				        </p>
				        
				   <a data-ng-href="user/{{profile.details.NICKNAME}}/follow" class="follow"><span class="glyphicon glyphicon-plus"><h4> Follow</h4></span></a>   
				   <br>
				</div>
			</div>
		
		
			<div class="col-sm-8">
			<h1>Previous Messages:</h1>
			
			<br>
				<div class="usermessages" data-ng-repeat="messages in profile.messages|limitTo:10"> 
			  		<img class="avatar" data-ng-src="{{messages.PIC}}" align="bottom" alt="avatar">

			  		<h3><a data-ng-href="/Hipster/user/{{messages.NICKNAME}}" class="nickname">@{{messages.NICKNAME}}</a> wrote:</h3>
			  		<a data-ng-href="" class="timesrepublished"><h4> Rebuplished #{{messages.TIMES_REPUBLISHED}} times</h4></a>
			  		<a data-ng-href="/Hipster/user/{{messages.NICKNAME}}/follow" class="follow"><span class="glyphicon glyphicon-plus"><h4>Follow</h4></span></a>
			  	
			  	<!-- follow button -->	
			  		<form action="Follow" method="post">
			  			<input type="hidden" name="nickname"  value="{{messages.NICKNAME}}"/>
						<button class="btn btn" id= "followbtn"><span class="glyphicon glyphicon-plus"><h4>Follow</h4></span></button>
			  		</form>
			  		
			  		<br><br>
			  		<div class="textcontent" data-ng-bind-html-unsafe="message.TEXT">
				  		<span data-ng-bind-html="messages.TEXT"></span>
				  		{{message}}
				 	</div>
			 	 <br>
			 	 
			 	 <a href="" class="replymessage" data-ng-click="togglereply($index)">Reply</a>
			  
			  		<form action="Post" method="post" data-ng-show="profile.showreply[$index]">
				            <textarea name="text" class="messagetext" rows="5" maxlength="140">@{{messages.NICKNAME}}</textarea>
							<input type="hidden" name="reply_to"  data-ng-value={{messages.MID}} />
							<input type="hidden" name="republish"  data-ng-value="0" />
							<br><br>
							<button class="btn btn" data-ng-click="togglereply($index)" >Submit</button>
			  		</form>
			  		
			  	<a href="" class="rebuplishmessage" data-ng-click="togglerepublish($index)">Republish</a>
			  
			  		<form action="Post" method="post" data-ng-show="profile.showrepublish[$index]">
				            <textarea name="text" class="messagetext" rows="5" maxlength="140" readonly>{{messages.TEXT}}</textarea>
							<input type="hidden" name="reply_to"  value="0" />
							<input type="hidden" name="republish"  value={{messages.MID}} />
							<br><br>
							<button class="btn btn" data-ng-click="togglerepublish($index)" >Submit</button>
			  		</form>
				
			  	<span class="timestamp">{{messages.STAMP|timeago}}</span>
			  	<br>
			 	 
				</div>
				
			</div>	
		</div>
</div>

</body>
</html>