@import url("main.css");


.row {
    background-color:rgba(238, 226, 219, 0.4);
    border-right-style: solid;
    border-left-style: solid;
    border-width: thick;
    border-color: #333333;
    

}

#secondrow{
	padding-bottom: 100%;
    margin-bottom: -100%;
    overflow: hidden;
	
}

.col-sm-4 {
    background-color:rgba(238, 226, 219, 0.4);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 2%;
    border: 1px solid;
}

.jumbotron{
	background: transparent;
	
}



.form-horizontal{
	align:left;
}

#OR{
	font-size:450%; 
	vertical-align: middle;
	font-weight: bold;
}