@import 'bootstrap.less';
@font-face {
    font-family: Hipster;
    src: url('../../resources/fonts/AGENCYB.TTF');
}

@variables colors {
  borders: #333333;
  highlight: rgb(238, 226, 219);
  background: rgba(238, 226, 219, 0.4);
}


body {
    background-image: url('../../resources/images/hipster-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6{
	font-family: Hipster;
	display: inline;	
}

a{
	font-weight: bold;
	color: #333333;
}
a:hover{
	color: #ffffff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.img {
  filter: sepia(100%);
}